* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  position: relative;
}

body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

body,
html {
  height: 100%;
}

header {
  height: 50%;
  background: linear-gradient(to bottom, #010101, #191741);

  font-family: Arial, sans-serif;
  font-size: 14px;
}

.header-content {
  display: flex;
  justify-content: space-between;
  margin: 1.2% 0;
}

.header-content a {
  color: #ffffff;
  text-decoration: none;
}

.header-content > * {
  margin: 0 4%;
}

.page-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 35%;
}

#index-page h1 {
  color: #333;
}

#index-page p {
  color: #666;
}

.header-content2 img {
  width: 16%;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.ethnicity-header img {
  width: 30%;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hobbies-header img {
  width: 35%;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.sexuality-header img {
  width: 35%;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.gender-header img {
  width: 35%;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.appearance-header img {
  width: 35%;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}
